* {
  box-sizing: border-box;
}
body
{
    padding: 0px;
    margin: 0px;
    background-color: white;
}

[lj-type="stage"]
{
    width: 100%;
    height: 100%;
    background-color: white;
}
[lj-type="frame"] {
  padding: 20px;
}

[lj-type="layer"].nativescroll>[lj-helper], [lj-type="layer"]:not(.nativescroll) {
  display: grid;
  grid-template-columns: min-content auto auto;
  grid-template-rows: minmax(300px,50%) minmax(300px,50%);
  grid-template-areas:
    "side header header"
    "side left right";

  min-height: 100vh;
}
[lj-type="layer"]>[lj-helper]>[lj-type="frame"], [lj-type="layer"]:not(.nativescroll)>[lj-type="frame"] {
  position: initial;
}

#frame0 {
  grid-area: side;
  width: 300px;
}
#frame1 {
  grid-area: header;
}
#frame2 {
  grid-area: left;
}
#frame3 {
  grid-area: right;
  width: 300px;
}