html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  background-color: #fff;
}

.layer {
  content: 'l';
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
/*  max-width: 300px;*/
  padding: 20px;
  text-align: center;
  font-family: arial;
}


/*
.card {
  overflow: hidden;
  width: 180px;


  background-color: white;
  box-shadow: 1px 1px 5px 1px rgba(136, 136, 136, 0.5);
}*/

.card>div{
  /*width:96vw;*/
  float: left; // unclear why this is needed to align div to top
}

.cardimg {
  width: 50%;
  height: 50%;
  float: left;
  margin-right: 25%;
  margin-left: 25%;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
