* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  background-color: white;
}

[lj-type="stage"] {
  width: 100%;
  height: 100%;
  overflow: visible;
}

#mainstage {
  background: #7d7e7d;
  /* Old browsers */
  background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to top, #7d7e7d 0%, #0e0e0e 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#zoomout, #zoomin {
  width: 100vw;
  height: 100vh;
}

#zoomout {
  padding: 5vw;
  color: white;
}

#zoomout h1 {
  color: #60C694;
  font-size: 48px;
}
@media (max-device-width: 520px) {
  #zoomout h1 {
    color: #60C694;
    font-size: 42px;
  }
}

#zoomout p {
  max-width: 500px;
}

#zoomin {
  left: 5vw;
  top: 70vh;
}

#contentlayer, #contentstage, #contentlayer>div {
  overflow: visible;
}

#contentlayer [lj-type="frame"] {
  background-color: white;
  box-shadow: 0px 0px 15px 0px black;
  //filter: contrast(1) sepia(100%) hue-rotate(116deg) brightness(1.4) saturate(0.28);
  filter: saturate(0);
}
#zoomin.lj-active #contentlayer [lj-type="frame"].lj-active {
  filter: saturate(0.5);
}
#contentlayer [lj-type="frame"]:hover {
  filter: saturate(0.5);
}

#frame1 {}

#frame2 {
  left: 120vw;
}

#frame3 {
  left: 240vw;
}

#frame4 {
  left: 360vw;
}

#frame5 {
  left: 480vw;
}
.coverlink {
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
}
.coverlink:hover {
  background-color: gray;
  opacity: 0.5;
}
#zoomin.lj-active .coverlink {
  width: 0px;
  height: 0px;
}
#hamburger {
  margin: 25px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  background-color: #60C694;
  color: white;
  font-weight: bold;
  text-align: center;
  box-shadow: 0px 0px 10px 0px gray;
}
a {
  text-decoration: none;
  color: #60C694;
}
