@font-face {
  font-family: 'icomoon';
  src:  url('font/icomoon.eot?2f32h4');
  src:  url('font/icomoon.eot?2f32h4#iefix') format('embedded-opentype'),
    url('font/icomoon.ttf?2f32h4') format('truetype'),
    url('font/icomoon.woff?2f32h4') format('woff'),
    url('font/icomoon.svg?2f32h4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-down:before {
  content: "\ea43";
}
