[data-wl-type='stage'] {
  overflow: hidden;
  position: relative;
}
[data-wl-type='frame'] {
  position: absolute;
  transform-origin: left top;
  -webkit-transform-origin: left top;
  top: 0px;
  left: 0px;
}
[data-wl-type='layer'] {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 0px;
}
.nativescroll[data-wl-type=layer] {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  width: auto;
  width: initial;
  height: auto;
  height: initial;
  overflow: auto;
}
.nativescroll[data-wl-type=layer] > div{
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 1000px;
  overflow: hidden;
}
